body {
    margin: 0;
    font-family: "josefin sans", sans-serif;
    background-color: #ffffff;
}

/* NAVBAR */
.navbar {
    background-color: #e1bb53;
    padding: 45px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .menu a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 18px;

 }

.navbar .nav-icons i {
    margin-left: 20px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.menu a{
        color: #ecf0f1;
        text-decoration: none;
        font-weight: 600; /* Slightly bolder font */
        padding: 10px 20px;
        border-radius: 25px; /* Rounded pill shape */
        transition: background-color 0.3s ease, transform 0.2s ease;
        
    }
    .menu a:hover,
    .menu a.active {
        background-color: rgb(178, 134, 15);
        transform: translateY(-2px); 
    }
.lang-btn {
    padding: 6px 12px;
    background: #eee;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

/* HERO BANNER */
.hero {
    width: 100%;
    height: auto;
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero-content {
    position: absolute;
    top: 35%;
    left: 15%;
    color: #ffffff;
}

.hero-content h1 {
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}

.hero-content h2 {
    font-size: 15px;
    margin-top: 0;
}

.hero-text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    max-width: 300px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

.explore-btn {
    margin-top: 15px;
    display: inline-block;
    padding: 20px 25px;
    background: #0a0a0a;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* SECTION TITLE */
.section-title {
    text-align: center;
    margin: 50px 0 10px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.section-sub {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.ad-panel {
   
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.ad-track {
    display: flex;
    width: 600vw; /* 5 slides */
    transition: transform 0.8s ease-in-out;
}

.ad-slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.ad-slide img {
    width: 89%;
    height: auto;
    object-fit: contain;
}

.ad-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-title {
    font-family: "Josefin Sans", sans-serif;
    margin: 50px 0 10px;
    font-size: 35px;
    font-weight: 700;
    margin-left: 8%;
}

.quiz-sub {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-left: 8%;
    margin-bottom: 2%;
}

.quiz-tab {
    position: relative;
    display: flex;
    flex-direction: row;
}

.quiz-tab img{
    flex-shrink: 0;
    
}

.quiz-text {
    position: absolute;
    font-size: 30px;
    font-weight: 500;
    top: 25%;
    right: 20%;
    max-width: 250px;
    text-align: right;
}

.find-btn {
    position: absolute;
    right: 20%;
    bottom: 25%;
    display: inline-block;
    padding: 20px 25px;
    background: #0a0a0a;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    height: 12px;
}

.featured-tab {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.featured-title {
    font-family: "Josefin Sans", sans-serif;
    margin-right: 10%;
    font-size: 35px;
    font-weight: 700;
}

.featured-sub {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10%;
    margin-top: 5px;
    max-width: 350px;
    text-align: right;
}

